<link rel="import" href="device-orientation.html">

<dom-module id="demo-element">
  <template>
    <device-orientation on-orientation-changed="changeHandler"></device-orientation>

    <p>LR: <span>{{lr}}</span></p>
    <p>FB: <span>{{fb}}</span></p>
    <p>DIR: <span>{{dir}}</span></p>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'demo-element',
    properties: {
      lr: {
        type: Number,
        value: 0
      },
      fb: {
        type: Number,
        value: 0
      },
      dir: {
        type: Number,
        value: 0
      }
    },
    changeHandler: function(e, data) {
      this.lr = data.lr;
      this.fb = data.fb;
      this.dir = data.dir;
    }
  });
</script>