<script>
    var componentDef = {
        is: 'device-orientation',
        properties: {
            lr: {
                type: Number,
                    reflectToAttribute: true,
                    notify: true,
                    value: 0
                },
            fb: {
                type: Number,
                reflectToAttribute: true,
                notify: true,
                value: 0
            },
            dir: {
                type: Number,
                reflectToAttribute: true,
                notify: true,
                value: 0
            }
        },
        attributeChanged: function () {
            var element = this;

            this.fire('orientation-changed', {
                lr : element.lr,
                fb : element.fb,
                dir: element.dir
            });
        },
        ready: function () {
            if (window.DeviceOrientationEvent) {
                window.addEventListener('deviceorientation', _updateOrientation);
            }
        },
        detached: function () {
            window.removeEventListener('deviceorientation', _updateOrientation)
        }
    };

    Polymer(componentDef);

    /**
     * Update the attributes on element when the device changes
     *
     * @param {number} e.gamma - left right
     * @param {number} e.beta - forward back
     * @param {number} e.alpha - direction
     *
     * @private
     */
    function _updateOrientation(e) {
        componentDef.lr = e.gamma;

        componentDef.fb = e.beta;

        componentDef.dir = e.alpha;
    }
</script>